* {
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

html,
body {
    font-family: 'Calibri', 'Sans-serif', 'Helvetica';
    font-style: italic;
    font-size: 1.1em;
    height: 100%;
    width: 100%;
}

canvas {
    display: block;
    position: absolute;
}

.words {
    text-align: center;
}

.countup-panel {
    width: 60%;
    text-align: center;
}

.countup {
    height: 450px;
    text-align: center;
}

#tree-container {
    position: absolute;
    margin: 0 auto;
    width: 100%;
    top: 0px;
}

#tree {
    position: absolute;
    z-index: -1;
}

.all-container {
    position: relative;
}

